[Desktop Entry]
Name=Dolphin-Scratchpad
Comment=Toggle visibility of a Dolphin window with a keyboard shortcut. (Similar to XMonad Scratchpads and the KWin/Script Shimmer)

X-Plasma-API=javascript
X-Plasma-MainScript=code/main.js

X-KDE-PluginInfo-Author=Luminous Fennell
X-KDE-PluginInfo-Email=lu-fennell@startmail.com
X-KDE-PluginInfo-Name=Dolphin-Scratchpad
X-KDE-PluginInfo-Version=0.1

X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-ServiceTypes=KWin/Script
Type=Service
